run = "vite"
entrypoint = "index.html"
hidden = [".config"]
modules = ["nodejs-18", "web", "postgresql-16"]

[nix]
channel = "stable-23_05"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 43493007
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 43493007
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "vite"
