run = "vite"
entrypoint = "index.html"
hidden = [".config"]
modules = ["nodejs-18", "web", "postgresql-16"]

[nix]
channel = "stable-23_05"

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 5173
externalPort = 80
